article {
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

article .time {
    cursor: default;
    min-width: 80px;
}

article .time .year {
    font-size: 18pt;
}

.vr {
    height: 100%;
    margin-left: 20px;
    margin-right: 40px;
    background-color: black;
    width: 1px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.more {
    width: 32px;
    margin: 0;
    padding: 0;
}


